@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #363940;
	font-family: 'Open Sans', sans-serif;

	background-color: #f4f7fc;
	min-width: 320px;
}

a {
	color: #363940;
	text-decoration: none;
}